services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - co-watch-network
  
  init-db:
    build:
      context: ./botService
      dockerfile: init_db.Dockerfile
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"
    networks:
      - co-watch-network

  bot-service:
    build:
      context: ./botService
      dockerfile: service.Dockerfile
    environment:
      DATABASE_URL: ${DATABASE_URL}
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      MIN_PARTICIPANTS_DEFAULT: ${MIN_PARTICIPANTS_DEFAULT}
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - co-watch-network

networks:
  co-watch-network:
    driver: bridge

volumes:
  postgres_data: