<<<<<<< HEAD
version: '3.8'

=======
>>>>>>> 6642c7833afc265543702322e9e30697bba7e2ce
services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - co-watch-network
  
<<<<<<< HEAD
=======
  example:
    image: nginx:alpine
    ports:
      - "80:80"
    command: /bin/sh -c "echo '<h1>Hello from Docker image!</h1>' > /usr/share/nginx/html/index.html && nginx -g 'daemon off;'"
>>>>>>> 6642c7833afc265543702322e9e30697bba7e2ce

networks:
  co-watch-network:
    driver: bridge

volumes:
  postgres_data: